* {
    box-sizing: border-box;
}



.section {
    background-color: lightblue;
    border: 3px solid;
    width: 100%;
    height: 130px;
    margin:2px;
    overflow: hidden;
}
#chickendiv {
    float:left;
    width: 33%;
}
#beefdiv {
    float:left;
    width: 33%;
}
#sushidiv {
    float: left;
    width: 33%;
}

.title {
    position:relative;
    display:inline;
}

#chicken {
    float:right;
    width: 150px;
    border: 3px solid;
    background-color: pink;
}

#beef {
    float: right;
    width: 150px;
    border: 3px solid;
    background-color: red;
}
#sushi {
    float: right;
    width: 150px;
    border: 3px solid;
    background-color: salmon;
}

/*******************Large devices only*************/

@media (min-width: 992px) {
    #chickendiv, #beefdiv, #sushidiv {
        float: left;
        width: 33%;
    }
}

/*******************Medium devices only*************/
@media (min-width: 768px) and (max-width: 991px) {
 #chickendiv, #beefdiv {
    width: 49%;
 } 
 #sushidiv {
     width: 100%;
 }
}

/*******************Small devices only*************/
@media (max-width: 767px) {
        #chickendiv, #beefdiv,#sushidiv {
        width: 100%;
 }
}